@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #884ea0;
    font-family: 'Concert One', cursive;
}
.navigation {
    background: rgba(0, 0, 0, .3);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}
.navigation a {
    color: #fff;
    
    text-decoration: none;

   
}
.navigation .menu {
    display: flex;
    align-items: center;

    transition: 0.5s ease-in;
}
.navigation .menu li {
    padding: 0 20px;
    
    list-style: none;
    
    opacity: 0.7;
}
.navigation .menu li:hover {
    opacity: 1;
}

.navigation .menu .search{
    position: relative;
    width: 40px;
    height: 30px;

    opacity: 0.7;

    transition: .4s ease-in;
}

.navigation .menu .search input{
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    color: #fff;
    background: transparent;

    outline: none;
    border: 2px solid #fff;
    border-radius: 15px 0;

    padding: 0 7px 0 40px;

    display: none;

    

}

.navigation .menu .search input::placeholder{
    color: #fff;
}

.navigation .menu .search .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;

}

.navigation .menu .search:hover {
    opacity: 1;

    width: 200px;
}

.navigation .menu .search:hover input {
    display: block;
}



.navigation .hamburguer {
    position: relative;
    z-index: 999;
    
    height: 30px;
    width: 30px;
    
    display: none;
}
.navigation .hamburguer:after {
    content: "";
    
    position: absolute;
    top: 30%;
    left: 15%;
    
    width: 70%;
    height: 12%;
    
    background-color: #fff;
    
    border-radius: 20px;
    
    transition: 1s ease-in;
}

.navigation .hamburguer:before {
    content: "";
    
    position: absolute;
    top: 60%;
    right: 15%;
    
    width: 70%;
    height: 12%;
    
    background-color: #fff;
    
    border-radius: 20px;
    
    transition: 0.5s ease-in-out;
}

#check {
    display: none;
}

#check:checked + label .hamburguer:after {
    transform: rotate(225deg);

    top: 45%;
}

#check:checked + label .hamburguer:before {
    transform: rotate(-405deg);

    width: 70%;
    top: 45%;
}

@media (max-width: 500px) {
    .navigation .hamburguer {
        display: block;
    }

    .navigation .menu {
        position: fixed;
        top: 0;
        right: -550px;

        height: 100vh;
        width: 100%;

        margin: 0;

        background: rgba(0, 0, 0, .7);

        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .navigation .menu .search{
        width: 90%; 
        height: 40px;   
    }

    .navigation .menu li {
        margin: 30px 0;
    }
    
    #check:checked ~ .menu {
        right: 0;
    }
}
